@use 'src/assets/styles/variables';

.categoriesLink {
  display: block;
  text-decoration: none;
}

.categoriesCard {
  background-color: variables.$primary;
  border-radius: variables.$category-card-radius;
  height: 170px;

  :global {
    .ant-card-body {
      padding: 60px 0 0 0;
    }
  }

  .categoriesTitle {
    font-size: variables.$font-size-small;
    color: variables.$color-white;
    line-height: variables.$line-height-medium;
    margin-bottom: 0;
    text-align: center;
  }

  .categoriesTitleLast{
    width: 92px;
  }
}

.categoriesImg {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 66px;
  height: 60px;
}

.lastCard .categoriesImg {
  width: 38px;
  height: 38px;
  margin-bottom: 16px;
  margin-top: 8px;
}

.categoriesWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .categoriesCard {
    height: 380px;

    :global {
      .ant-card-body {
        padding-top: 120px;
      }
    }

    .categoriesTitle {
      font-size: variables.$font-size-l;
      line-height: variables.$line-height-tight;
      letter-spacing: variables.$letter-spacing-narrow;
    }

    .categoriesTitleLast{
      width: 192px;
      text-align: start;
    }
  }

  .categoriesImg {
    margin-bottom: 60px;
    width: 154px;
    height: 150px;
  }

  .lastCard .categoriesImg {
    margin-bottom: 99px;
    margin-top: 40px;
  }

  .categoriesWrap {
    justify-content: center;
    gap: 50px;
  }

  .telegramIcon {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1400px) {
  .categoriesCard {
    height: 400px;

    :global {
      .ant-card-body {
        padding-top: 117px;
      }
    }

    .categoriesTitle {
      font-family: variables.$font-family-second;
      font-size: variables.$font-size-ml;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-medium;   
    }

    .categoriesTitleLast{
      width: 180px;
      text-align: center;
    }
  }

  .categoriesImg {
    margin-bottom: 64px;
    width: 160px;
    height: 156px;
  }

  .lastCard .categoriesImg {
    margin-bottom: 73px;
    margin-top: 68px;
  }
}
