@use 'src/assets/styles/variables';

.categoriesLink {
  display: block;
  text-decoration: none;
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.01);
    outline: none;
  }
}

.categoriesCard {
  background-color: variables.$primary;
  border-radius: variables.$category-card-radius;
  padding: 58px 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1 / 1;

  .categoriesTitle {
    font-size: variables.$font-size-small;
    color: variables.$color-white;
    line-height: variables.$line-height-medium;
    margin-bottom: 0;
    text-align: center;
  }

  .categoriesTitleLast {
    width: 92px;
  }
}

.categoriesImg {
  display: block;
  margin: auto 0;
  width: 66px;
  height: 60px;
}

.lastCard .categoriesImg {
  width: 38px;
  height: 38px;
}

.categoriesWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 7px;
}

@media (min-width: 576px) {
  .categoriesCard {
    .categoriesTitle {
      font-size: variables.$font-size-medium;
    }

    .categoriesTitleLast {
      width: 162px;
      text-align: start;
    }
  }

  .categoriesImg {
    width: 104px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .categoriesCard {
    padding-top: 120px;

    .categoriesTitle {
      font-size: variables.$font-size-l;
      line-height: variables.$line-height-tight;
      letter-spacing: variables.$letter-spacing-narrow;
    }

    .categoriesTitleLast {
      width: 192px;
      text-align: start;
    }
  }

  .categoriesImg {
    width: 154px;
    height: 150px;
  }

  .categoriesWrap {
    justify-content: center;
    gap: 50px;
  }

  .telegramIcon {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1400px) {
  .categoriesCard {
    padding-top: 117px;
    min-height: 342px;
    aspect-ratio: 0;

    .categoriesTitle {
      font-family: variables.$font-family-second;
      font-size: variables.$font-size-ml;
      font-weight: variables.$font-weight-semibold;
      line-height: variables.$line-height-medium;
    }

    .categoriesTitleLast {
      width: 180px;
      text-align: center;
    }
  }

  .categoriesImg {
    width: 160px;
    height: 156px;
  }
}
