@use 'src/styles/variables';

.tabs {
  font-size: 20px;
}

.authPageTitle {
  text-align: center;
  color: #1d1617;
  font-size: 32px;
}

.socialMediaButton {
  height: 44px;
}

.registerStyle {
  font-family: variables.$font-family;
  font-weight: 600;
  color: variables.$primary;
}

.registerStyle:hover {
  color: #074a5e;
}

.authorizeStyle {
  font-family: variables.$font-family;
  font-weight: 600;
  color: variables.$primary;
}

.authorizeStyle:hover {
  color: #074a5e;
}

.link {
  font-family: variables.$font-family;
  font-weight: 500;
  color: variables.$primary;
}

.authorizeLink {
  margin-bottom: 10px;
}

.buttonMargins {
  margin-bottom: 34px;
  margin-top: 34px;
}

.link:hover {
  color: #074a5e;
}

:global {
  .ant-tabs-nav {
    margin-bottom: 40px !important;
  }
}
