@use 'src/styles/variables';

.tabs {
  color: #1d1617 !important;
}

.authPageTitle {
  text-align: center;
  color: #1d1617 !important;
  font-size: 24px !important;
}

.socialMediaButton {
  height: 48px;
}

.registerStyle {
  font-family: variables.$font-family;
  font-weight: 600;
  color: variables.$primary;
}

.registerStyle:hover {
  color: #074a5e;
}

.authorizeStyle {
  font-family: variables.$font-family;
  font-weight: 600;
  color: variables.$primary;
}

.authorizeStyle:hover {
  color: #074a5e;
}

.link {
  font-family: variables.$font-family;
  font-weight: 500;
  color: variables.$primary;
}

.authorizeLink {
  margin-bottom: 10px;
  color: #4f4f4f;
}

.buttonMargins {
  margin-bottom: 34px;
  margin-top: 34px;
}

.link:hover {
  color: #074a5e;
}

:global {
  .ant-tabs-nav {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 576px) {
  .authPageTitle {
    font-size: 30px !important;
  }
}

@media (min-width: 768px) {
  .authPageTitle {
    font-size: 32px !important;
  }
}
