@use 'src/styles/variables';

.cardsGridLayout {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 440px) {
  .cardsGridLayout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: variables.$media-sm) {
  .cardsGridLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: variables.$media-md) {
  .cardsGridLayout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: variables.$media-lg) {
  .cardsGridLayout {
    grid-template-columns: repeat(5, 1fr);
    gap: 24px 20px;
  }
}
