@use 'src/assets/styles/variables';

.headerDrawer {
  .drawerCloseBtn:hover {
    cursor: pointer;
  }

  .addPublicationButton {
    background-color: variables.$light-green-color;
    color: variables.$primary;
    padding: 12px 25px;
    height: 48px;
    width: 100%;
    margin-top: 20px;
  }
}
