@use 'src/styles/variables';

:global {
  .contact-form-section .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 4px;
}

.contactInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contactInfoHeader {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-weight: 600;
  font-size: 24px;
}

.contactInfoEditIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
}

.editingContactInfoContainer {
  padding: 20px 12px;
}

.editingContactInfoHeader {
  font-size: 18px;
  line-height: 125%;
}

.errorContactInfoHeader {
  font-size: 18px;
}

@media (min-width: variables.$media-md) {
  :global {
    .contact-form-section .ant-form-item .ant-form-item-explain-error {
      width: 440px;
    }

    .contact-form-section .ant-form {
      max-height: 230px !important;
    }
  }

  .contactInfoContainer {
    row-gap: 24px;
    padding: 34px 20px;
    height: 282px;
  }

  .contactInfoHeader {
    font-weight: 600;
    line-height: 150%;
  }

  .contactInfoEditIcon {
    top: -25px;
  }

  .editingContactInfoContainer {
    padding: 28px 20px;
    height: 288px;
  }

  .editingContactInfoHeader {
    font-size: 26px;
    line-height: 125%;
    height: 20px;
  }

  .errorContactInfoContainer {
    height: 292px;
    padding: 16px 20px;
    row-gap: 10px;
  }

  .errorContactInfoHeader {
    font-size: 26px;
  }

  .warningContactInfoContainer {
    padding: 24px 20px;
    row-gap: 24px;
  }
}

@media (min-width: variables.$media-lg) {
  :global {
    .contact-form-section .ant-form-item .ant-form-item-explain-error {
      width: 360px;
      max-height: 36px;
    }

    .contact-form-section .ant-form {
      max-height: 242px !important;
    }
  }

  .contactInfoContainer {
    row-gap: 32px;
    padding: 40px;
    height: 296px;
  }

  .contactInfoHeader {
    font-size: 26px;
    font-weight: 600;
    line-height: 125%;
  }

  .contactInfoEditIcon {
    right: 0;
    top: -10px;
  }

  .editingContactInfoContainer {
    padding: 40px;
    row-gap: 32px;
    height: 296px;
  }

  .errorContactInfoContainer {
    padding: 12px 40px;
    row-gap: 10px;
  }

  .errorField {
    margin-bottom: 6px;
  }

  .errorContactInfoHeader {
    height: 32.5px;
  }

  .warningContactInfoContainer {
    padding: 26px 40px;
    row-gap: 24px;
  }
}
