@use 'src/styles/variables';

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
}

.contactInfoHeader {
  font-family: variables.$font-heading;
  font-size: 26px;
  font-weight: 700;
}

.contactInfoeditIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.contactInfoLabel {
  display: block;
  font-family: variables.$font-body;
  font-size: 18px;
  margin-bottom: 12px;
}

.contactInfoValue {
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: bold;
}

.inputContainer {
  width: 327px;
  height: 48px;
}

@media (min-width: variables.$media-md) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .contactInfoHeader {
    font-family: variables.$font-heading;
    font-size: 24px;
    font-weight: bold;
  }

  .contactInfoeditIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .contactInfoLabel {
    display: block;
    font-family: variables.$font-body;
    font-size: 18px;
    margin-bottom: 6px;
  }

  .contactInfoValue {
    font-family: variables.$font-heading;
    font-size: 18px;
    font-weight: 600;
  }

  // .inputContainer {
  //   width: 100%;
  //   height: 48px;
  // }
}

@media (min-width: variables.$media-lg) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
  }

  .contactInfoHeader {
    font-family: variables.$font-heading;
    font-size: 26px;
    font-weight: 700;
  }

  .contactInfoeditIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .contactInfoLabel {
    display: block;
    font-family: variables.$font-body;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .contactInfoValue {
    font-family: variables.$font-heading;
    font-size: 24px;
    font-weight: bold;
  }

  .inputContainer {
    width: 327px;
    height: 48px;
  }
}
