@use 'src/styles/variables';

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 4px;
}

.contactInfoHeader {
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 700;
}

.contactInfoEditIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
}

.contactInfoLabel {
  display: block;
  font-family: variables.$font-body;
  font-size: 16px;
  margin-bottom: 4px;
}

.contactInfoValue {
  font-family: variables.$font-heading;
  font-size: 18px;
  font-weight: 700;
}

.inputContainer {
  width: 100%;
  height: 48px;
}

@media (min-width: variables.$media-md) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 34px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 8px;
  }

  .editingContainer {
    padding: 28px 20px;
  }

  .contactInfoBlock {
    position: relative;
  }

  .contactInfoHeader {
    font-family: variables.$font-heading;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
  }

  .contactInfoEditIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -25px;
  }

  .contactInfoLabel {
    display: block;
    font-family: variables.$font-body;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .contactInfoValue {
    font-family: variables.$font-heading;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
  }

  .inputContainer {
    width: 100%;
    height: 48px;
  }
}

@media (min-width: variables.$media-lg) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 6px;
  }

  .editingContainer {
    padding: 24px 40px;
  }

  .contactInfoHeader {
    font-family: variables.$font-heading;
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
    color: variables.$N6;
  }

  .test {
    position: relative;
  }

  .contactInfoEditIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
  }

  .contactInfoLabel {
    display: block;
    font-family: variables.$font-body;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 125%;
    color: variables.$N6;
  }

  .contactInfoValue {
    font-family: variables.$font-heading;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    color: variables.$N6;
  }

  .inputContainer {
    width: 327px;
    height: 48px;
  }
}
