@use 'src/styles/variables';

:global {
  .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 4px;
}

.editingInfoContainer {
  padding: 20px 12px;
}

.contactInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactInfoHeader {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-size: 24px;
  font-weight: 700;
}

.editingcontactInfoHeader {
  font-size: 18px;
}

.contactInfoBlock {
  position: relative;
}

.contactInfoEditIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
}

.contactInfoEmailBlock {
  margin-bottom: 16px;
}

.editingContactInfoEmailBlock {
  margin-bottom: 20px;
}

.contactInfoLabel {
  display: block;
  font-family: variables.$font-body;
  color: variables.$N6;
  font-size: 16px;
  margin-bottom: 4px;
}

.editingContactInfoLabel {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 6px;
}

.contactInfoValue {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-size: 18px;
  font-weight: 700;
}

.contactInfoInput {
  width: 100%;
  height: 48px;
}

@media (min-width: variables.$media-md) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 34px 20px;
    height: 282px;
  }

  .editingInfoContainer {
    padding: 28px 20px;
    height: 288px;
  }

  .contactInfoHeader {
    font-weight: bold;
    line-height: 150%;
  }

  .contactInfoEditIcon {
    right: 0;
    top: -25px;
  }

  .contactInfoEmailBlock {
    margin-bottom: 20px;
  }

  .contactInfoLabel {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .editingContactInfoLabel {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 6px;
  }

  .contactInfoValue {
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
  }

  .contactInfoInput {
    width: 100%;
    height: 48px;
  }
}

@media (min-width: variables.$media-lg) {
  .contactInfoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 40px;
    height: 296px;
  }

  .editingInfoContainer {
    padding: 24px 40px;
    row-gap: 38px;
    height: 296px;
  }

  .errorInfoContainer {
    padding: 12px 40px;
    row-gap: 10px;
  }

  .contactInfoHeader {
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
  }

  .contactInfoBlock {
    position: relative;
  }

  .contactInfoEditIcon {
    right: 0;
    top: -10px;
  }

  .contactInfoLabel {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .editingContactInfoLabel {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 6px;
  }

  // .errorContactInfoEmailBlock {
  // }

  .errorContactInfoLabel {
    margin-bottom: 6px;
  }

  .contactInfoValue {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
  }

  .contactInfoInput {
    width: 327px;
  }
}
