@use 'src/styles/variables';

:global {
  .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 4px;
}

.contactInfoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contactInfoHeader {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-weight: 700;
  font-size: 24px;
}

.contactInfoEditIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
}

.contactInfoEmailBlock {
  margin-bottom: 16px;
}

.contactInfoLabel {
  display: block;
  font-family: variables.$font-body;
  color: variables.$N6;
  font-size: 16px;
  margin-bottom: 4px;
}

.contactInfoValue {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-weight: 700;
  font-size: 18px;
}

.contactInfoInput {
  width: 100%;
  height: 48px;
}

.editingInfoContainer {
  padding: 20px 12px;
}

.editingInfoHeader {
  font-size: 18px;
  line-height: 125%;
}

.editingContactInfoHeader {
  font-size: 18px;
}

.editingContactInfoEmailBlock {
  margin-bottom: 20px;
}

.editingContactInfoLabel {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 6px;
}

.warningInfoContainer {
  padding: 20px 12px;
}

.errorContactInfoHeader {
  font-size: 18px;
}

.errorContactInfoLabel {
  margin-bottom: 6px;
}

.errorField {
  margin-bottom: 6px;
}

.undefinedContactInfoValue {
  font-weight: 600;
  line-height: 125%;
}

@media (min-width: variables.$media-md) {
  :global {
    .ant-form-item .ant-form-item-explain-error {
      width: 440px;
    }

    .ant-form {
      height: 190px !important;
    }
  }
  .contactInfoContainer {
    row-gap: 24px;
    padding: 34px 20px;
    height: 282px;
  }

  .contactInfoHeader {
    font-weight: bold;
    line-height: 150%;
  }

  .contactInfoEditIcon {
    right: 0;
    top: -25px;
  }

  .contactInfoEmailBlock {
    margin-bottom: 20px;
  }

  .contactInfoLabel {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .contactInfoValue {
    font-weight: 600;
    line-height: 125%;
  }

  .contactInfoInput {
    transition: none;
  }

  .editingInfoContainer {
    padding: 28px 20px;
    height: 288px;
  }

  .editingInfoHeader {
    font-size: 26px;
    line-height: 125%;
  }

  .editingContactInfoLabel {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 6px;
  }

  .errorInfoContainer {
    height: 292px;
    padding: 16px 20px;
    row-gap: 10px;
  }

  .errorContactInfoHeader {
    font-size: 26px;
  }

  .errorContactInfoLabel {
    margin-bottom: 4px;
  }

  .errorContactEmailBlock {
    margin-bottom: 4px;
  }

  .errorContactInfoInput {
    margin-bottom: 4px;
  }

  .warningInfoContainer {
    padding: 24px 20px;
    row-gap: 24px;
  }

  .warningContactInfoLabel {
    margin-bottom: 6px;
  }

  .warningContactEmailBlock {
    margin-bottom: 8px;
  }

  .warningContactInfoLabel {
    margin-bottom: 6px;
  }

  .warningContactInfoHeader {
    height: 19px;
  }
}

@media (min-width: variables.$media-lg) {
  :global {
    .ant-form-item .ant-form-item-explain-error {
      width: 360px;
      max-height: 36px;
    }

    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }

  .contactInfoContainer {
    row-gap: 32px;
    padding: 40px;
    height: 296px;
  }

  .contactInfoHeader {
    font-size: 26px;
    font-weight: 700;
    line-height: 125%;
  }

  .contactInfoEditIcon {
    right: 0;
    top: -10px;
  }

  .contactInfoLabel {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .contactInfoValue {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
  }

  .contactInfoInput {
    width: 360px;
    height: 48px;
  }

  .editingInfoContainer {
    padding: 40px;
    row-gap: 32px;
    height: 296px;
  }

  .editingContactInfoLabel {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 6px;
  }

  .editingcontactInfoInput {
    width: 360px;
    height: 48px;
  }

  .errorInfoContainer {
    padding: 12px 40px;
    row-gap: 10px;
  }

  .errorContactEmailBlock {
    margin-bottom: 8px;
  }

  .errorField {
    margin-bottom: 6px;
  }

  .errorContactInfoInput {
    margin-bottom: 6px;
    height: 48px;
  }

  .errorContactInfoLabel {
    margin-bottom: 6px;
  }

  .warningInfoContainer {
    padding: 26px 40px;
    row-gap: 24px;
  }

  .warningContactInfoHeader {
    height: 19px;
  }

  .warningContactInfoLabel {
    margin-bottom: 6px;
  }

  .undefinedContactInfoValue {
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
  }
}
