@use 'src/styles/variables';

.shelf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid variables.$N3;
  margin-bottom: 16px;
  cursor: pointer;
}
