@use 'src/styles/variables';

.upload {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  overflow: hidden;

  :global(.ant-upload-select) {
    width: 120px !important;
    height: 120px !important;
  }

  :global(.ant-upload-list-item-container) {
    width: 120px !important;
    height: 120px !important;
  }
}

.uploadFormItem {
  margin-bottom: 40px;

  label {
    display: none !important;
  }
}

.city {
  position: relative;
  margin-bottom: 48px;

  :global {
    .ant-form-item-has-success .ant-select-selector,
    .ant-select-status-success {
      border-color: variables.$success !important;
    }
  }
}

.cityFormItem {
  margin-bottom: 0;
  flex: 1;
}

.citySelect {
  height: 48px !important;
}

.cityTooltip {
  position: absolute;
  right: -25px;
  bottom: 14px;
}

// TODO: Try to set via config provider
.infoIcon {
  svg {
    width: 20px;
    height: 20px;
    fill: #1890ff;
  }
}

.uploadButton {
  margin: 0 auto;
  border: 0;
  background: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.uploadPlaceholder {
  margin-top: 8px;
  font-size: 12px;
  font-family: variables.$font-body;
  color: variables.$N5;
}

@media (min-width: variables.$media-sm) {
  .cityTooltip {
    right: -30px;
  }
}
