@import '../../config/theme/variables.scss';

.confirmationMessage {
  text-align: left;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 24px;
  font-weight: $font-weight-medium;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .confirmationMessage {
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) {
  .confirmationMessage {
    margin-bottom: 36px;
  }
}
