@use 'src/styles/variables';

.itemPage {
  text-align: center;
}

.carouselMainImage {
  width: 100% !important;
  height: auto !important;
}

:global(.ant-carousel .slick-dots li button) {
  border-radius: 2px !important;
  opacity: 0.4;
}

@media (min-width: variables.$media-md) {
  .carouselMainImage {
    width: 100% !important;
    height: auto !important;
    max-height: 558px !important;
    border-radius: 12px;
  }

  .carouselPreviewImage {
    width: 108px !important;
    height: 96px !important;
    border-radius: 12px;
  }

  .carouselPreviewImages {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 26px;
  }
}

@media (min-width: variables.$media-xl) {
  .carouselMainImage {
    width: 100% !important;
    height: auto !important;
    max-height: 594px !important;
    border-radius: 12px;
  }

  .carouselPreviewImage {
    width: 116px !important;
    height: 96px !important;
    border-radius: 12px;
    object-fit: cover;
    cursor: pointer;
  }

  .carouselPreviewImages {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 26px;
  }
}
