@use 'src/styles/variables';

.itemPage {
  text-align: center;
}

.mainWrapperContainer {
  border: 1px solid variables.$secondary;
}

.carouselMainImage {
  width: 100% !important;
  height: auto !important;
  object-fit: contain;
}

.carouselPreviewImage {
  border: 1px solid variables.$N4;
  border-radius: 12px;
}

.imageWrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

:global(.ant-carousel .slick-dots li button) {
  border-radius: 2px !important;
  opacity: 0.4;
}

@media (min-width: variables.$media-sm) {
  .mainWrapperContainer {
    border: 1px solid variables.$secondary;
    border-radius: 12px;
  }

  .carouselMainImage {
    border-radius: 12px;
  }

  .carouselPreviewImages {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 26px;
  }

  .carouselPreviewImage {
    max-width: 108px !important;
    height: 96px !important;
    object-fit: cover;
  }
}

@media (min-width: variables.$media-xl) {
  .mainWrapperContainer {
    border: 1px solid variables.$secondary;
    border-radius: 12px;
  }

  .carouselPreviewImages {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
  }

  .carouselPreviewImage {
    width: 116px !important;
    height: 96px !important;
    object-fit: cover;
  }
}
