@use 'src/styles/variables';

.appLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.greyBackground {
  background-color: variables.$N1;
}

.mainContainer {
  max-width: 1440px;
  width: 100%;
  padding: variables.$space-0 variables.$space-200;
  margin: variables.$space-0 auto;
}

@media (min-width: variables.$media-sm) {
  .mainContainer {
    padding: variables.$space-0 variables.$space-300;
  }

  .greyBackground {
    background-color: variables.$N2;
  }
}
