@use 'src/assets/styles/variables';

.greyBackground {
  background-color: variables.$add-publication-page-background;
}

.mainContainer {
  max-width: 1400px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .greyBackground {
    background-color: #ffff;
  }
}
