@use 'src/styles/variables';

.greyBackground {
  background-color: variables.$add-publication-page-background;
}

.mainContainer {
  max-width: 1440px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .mainContainer {
    padding: 0 24px;
  }
}

@media (max-width: 576px) {
  .greyBackground {
    background-color: #ffff;
  }
}
