@use 'src/styles/variables';

.periodWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$space-100;
  margin-top: variables.$space-200;
  margin-bottom: variables.$space-400;
}

.price {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
}

.period {
  color: variables.$N6;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  width: 240px;
}

.priceBtn:disabled {
  width: 240px;
}
