@use 'src/styles/variables';

.title {
  text-align: center;
  color: variables.$N6;
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.formContainer {
  margin-top: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 396px;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.timestamp {
  margin-left: auto;
}

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  gap: 8px;
}

.input {
  width: 100%;
  margin-bottom: 0;
}

.sendButton {
  border-radius: 100%;
  width: 48px !important;
  min-width: 48px !important;
  padding: 12px;

  svg {
    transform: translate(-1px, 2px);
  }
}
