@use 'src/styles/variables';

.title {
  text-align: center;
  color: variables.$N6;
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 396px;
  width: 100%;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  border-radius: 8px;
  margin: 8px 0;
  background-color: variables.$secondary-light;
}

.headerMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageDetail {
  font-family: variables.$font-body;
  font-size: 12px;
  color: variables.$N6;
  text-transform: uppercase;
}

.timestamp {
  margin-left: auto;
}

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sent {
  align-self: flex-end;
  background-color: variables.$N2;
}

.received {
  align-self: flex-start;
}

.inputContainer {
  display: flex;
  gap: 8px;
}

.input {
  width: 100%;
  margin-bottom: 0;
}

.sendButton {
  border-radius: 100%;
  width: 48px !important;
  min-width: 48px !important;
  padding: 12px;

  svg {
    transform: translate(-1px, 2px);
  }
}
