@import '/src/assets/styles/variables.scss';

.phone-link {
    color: $text-primary;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
