@use 'src/styles/variables';

.formItemLabel {
  font-size: 18px !important;
  font-family: variables.$font-heading !important;
  font-weight: 600;
  margin-bottom: 20px !important;
}

.textArea {
  font-size: 12px;
}

.submitButton {
  font-weight: 500;
}

.helperText {
  padding-top: 8px;
  font-size: 14px;
  color: variables.$N4;
  font-family: variables.$font-body;
}

@media (min-width: variables.$media-sm) {
  .textArea {
    font-size: 18px;
  }

  .submitButton {
    width: 240px !important;
  }
}

@media (min-width: variables.$media-md) {
  .formItemLabel {
    font-size: 26px !important;
  }
}
