@use 'src/styles/variables';

.formItemLabel {
  font-size: 18px !important;
  font-family: variables.$font-heading !important;
  font-weight: 600;
  margin-bottom: variables.$space-200 !important;
}

.textArea {
  font-size: 12px;
}

.infoIcon {
  svg {
    width: 16px;
    height: 16px;
    fill: #1890ff;
  }
  margin-left: 10px;
}

.submitButton {
  font-weight: 500;
}

@media (min-width: variables.$media-sm) {
  .textArea {
    font-size: 18px;
  }

  .submitButton {
    width: 240px !important;
  }

  .infoIcon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: variables.$media-md) {
  .formItemLabel {
    font-size: 26px !important;
  }
}
