@import '/src/assets/styles/variables.scss';

.verif-sms-btn {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    
    &.verif-sms-btn-active {
        color: $primary; 
    }
}    

@media (min-width: 768px) {
    .verif-sms-btn {
        font-size: 14px;
    }
}
