@use 'src/styles/variables';

.leftContentSection {
  height: 542px;
  background-color: #bcccdc;
  max-width: 100%;
  margin-top: 12px;
}

@media (min-width: variables.$media-md) {
  .leftContentSection {
    height: 542px;
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: variables.$media-lg) {
  .leftContentSection {
    height: 600px;
    width: 100%;
  }
}
