@use 'src/styles/variables';

.homeSectionTitle {
  font-family: variables.$font-body-second;
  font-size: 18px;
  font-weight: 600;
  color: variables.$primary;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: variables.$media-xs) {
  .homeSectionTitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

@media (min-width: variables.$media-xxl) {
  .homeSectionTitle {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 80px;
  }
}
