@use 'src/styles/variables';

.avatarMenu {
  width: 256px;
  height: 144px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.dropdownButton {
  width: 100%;
  height: 40px;
  font-size: 14px !important;
  color: variables.$text-menu !important;
  border-radius: 8px !important;
  margin-bottom: 8px !important;
  line-height: 22px !important;
  text-align: center;
  padding: 9px 16px !important;
}
.dropdownButton:hover {
  background-color: variables.$hover-color !important;
}

.dropdownButton:active {
  background-color: variables.$light-green-color !important;
}

@media (max-width: 992px) {
  .avatarMenu {
    background-color: variables.$primary !important;
    width: 100%;
  }
  .dropdownButton {
    color: white !important;
    background-color: variables.$primary;
  }
  .dropdownButton:hover {
    color: variables.$text-menu !important;
    background-color: variables.$hover-color !important;
  }
  .dropdownButton:active {
    color: variables.$text-menu !important;
    background-color: white !important;
  }
}
