@use 'src/styles/variables';

.notificationsWrapper {
  display: flex;
  flex-direction: column;
  gap: variables.$space-050;
  width: 100%;
  overflow-y: auto;
}

@media (min-width: variables.$media-lg) {
  .notificationsWrapper {
    gap: variables.$space-150;
  }
}
