@use 'src/styles/variables';

.heading {
  font-size: 18px;
  line-height: 1.25;
}

.infoWrap {
  display: flex;
  gap: variables.$space-150;
  margin-top: variables.$space-300;
}

.info {
  display: flex;
  align-items: center;
  gap: variables.$space-050;
}

.info:last-child {
  margin-top: variables.$space-100;
}

.avatar {
  margin-top: variables.$space-050;
}

.text {
  font-weight: 500;
  font-size: 14px;
  color: variables.$N6;

  &:first-of-type {
    margin-right: variables.$space-025;
  }
}

.name {
  font-family: variables.$font-heading;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: variables.$space-100;
  color: variables.$N6;
}

@media (min-width: variables.$media-sm) {
  .name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: variables.$space-200;
  }

  .avatar {
    margin-top: variables.$space-100;
  }

  .heading {
    font-size: 26px;
    letter-spacing: -0.02em;
  }
}
