@use 'src/styles/variables';

.editButton {
  width: 48px !important;
  height: 48px !important;
  border-radius: 100%;
  background-color: variables.$N2;
  border: none;
  box-shadow: none;

  &:focus-visible {
    outline: none !important;
  }
}

.productCard {
  height: 100% !important;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 16px;
}

.activity {
  display: flex;
  align-items: center;
}

.dropdownRoot {
  width: 256px;

  :global {
    .ant-dropdown-menu-item-active:active {
      background-color: variables.$secondary !important;
    }
  }
}

.productCard {
  :global {
    .ant-card-cover {
      width: 100%;
      height: auto;
    }

    .ant-card-body {
      padding: 0;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.productImage {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 24px !important;
}

.price {
  font-family: variables.$font-heading;
  font-weight: 500;
  color: variables.$primary;
  font-size: 20px;
  line-height: 1;
}

.cardTitle {
  font-size: 16px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0;
  min-width: 100%;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.marginRight {
  margin-right: 8px;
}

.iconWrapper span {
  font-size: 16px;
  font-weight: 600;
}

.icon {
  font-size: 12px;
  color: variables.$primary;
  margin-right: 5px;
  font-size: 14px;
}

.activityValue {
  font-size: 12px;
  color: variables.$primary;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

@media (min-width: variables.$media-sm) {
  .cardTitle {
    font-size: 18px;
  }
}

@media (min-width: variables.$media-xl) {
  .price {
    font-size: 24px;
  }
}
