@use 'src/styles/variables';

.productCard {
  height: 100% !important;

  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

.activity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 20px;
}

.productCard {
  :global {
    .ant-card-cover {
      width: 100%;
      height: auto;
    }

    .ant-card-body {
      padding: 0;
      width: 100%;
    }
  }
}

.productImage {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 10px !important;
}

.price {
  font-family: variables.$font-body;
  font-weight: 700;
  color: variables.$primary;
  font-size: 24px;
}

.cardTitle {
  height: 66px;
  line-height: 150%;
  font-size: 18px;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.marginRight {
  margin-right: 8px;
}

.iconWrapper span {
  font-size: 18px;
}

.icon {
  font-size: 12px;
  color: variables.$primary;
  margin-right: 5px;
  font-size: 14px;
}

.activityValue {
  font-size: 12px;
  color: variables.$primary;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: variables.$media-sm) {
  .cardTitle {
    font-size: 22px;
  }

  .price {
    font-size: 24px;
  }
}

@media (min-width: variables.$media-md) {
  .cardTitle {
    font-size: 18px;
  }
}

@media (min-width: variables.$media-xl) {
  .cardTitle {
    font-size: 22px;
  }
}
