@use 'src/styles/variables';

.card {
  display: flex;
  flex-direction: column;
  background-color: variables.$primary;
  border-radius: 20px;
  padding: variables.$space-150 variables.$space-200;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: variables.$space-200;
}

.rate {
  color: variables.$secondary;
}

.date {
  font-size: 16px;
  color: variables.$secondary-light;
  font-family: variables.$font-body;
  font-weight: 700;
  line-height: 150%;
}

.title {
  font-size: 16px;
  color: variables.$secondary-light;
  font-family: variables.$font-body;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: variables.$space-100;
}

.description {
  font-size: 16px;
  color: variables.$secondary-light;
  font-family: variables.$font-body;
  font-weight: 400;
  line-height: 150%;
}

.cardFooter {
  display: flex;
  align-items: center;
  margin-top: variables.$space-300;
}

.name {
  font-size: 18px;
  color: variables.$N1;
  font-family: variables.$font-body;
  font-weight: 400;
  line-height: 125%;
  margin-left: variables.$space-250;
}
