@use 'src/styles/variables';

.sidebarContainer {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: rgba(70, 68, 88, 0.08) 0 8px 28px 0;
  border-radius: 8px;
  padding: 20px 24px 40px;
}

.menu {
  width: 100%;
}

@media (min-width: variables.$media-md) {
  .sidebarContainer {
    padding: 20px 12px;
  }
}

@media (min-width: variables.$media-lg) {
  .sidebarContainer {
    padding: 40px 24px;
  }
}
