@use 'src/styles/variables';

.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  box-shadow: 0 16px 48px 0 rgba(70, 68, 88, 0.1);
  border-radius: 8px;
  padding: 28px 16px 40px;
}

.menu {
  width: 100%;

  .menuItemTwoLines {
    white-space: normal;
    font-weight: 500;
    height: inherit;
    max-height: 72px;
    line-height: 1.5;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: variables.$media-md) {
  .sidebarContainer {
    min-height: 542px;
    height: 100%;
    min-width: 220px;
  }
}
