@use 'src/styles/variables';

.popularGoodsSection {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

@media (min-width: variables.$media-sm) {
  .popularGoodsSection {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: variables.$media-md) {
  .popularGoodsSection {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 80px;
  }
}

@media (min-width: variables.$media-lg) {
  .popularGoodsSection {
    margin-bottom: 140px;
  }
}
