@use 'src/styles/variables';

.popularGoodsSection {
  margin-bottom: 40px;
}

@media (min-width: variables.$media-md) {
  .popularGoodsSection {
    margin-bottom: 80px;
  }
}

@media (min-width: variables.$media-lg) {
  .popularGoodsSection {
    margin-bottom: 140px;
  }
}
