@use 'src/assets/styles/variables';

.homeSectionTitle {
  font-family: variables.$font-family-second;
  font-size: variables.$font-size-18;
  font-weight: variables.$font-weight-semibold;
  color: variables.$primary;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .homeSectionTitle {
    font-size: variables.$font-size-l;
    font-weight: variables.$font-weight-regular;
    line-height: variables.$line-height-tight;
    letter-spacing: variables.$letter-spacing-narrow;
  }
}

@media (min-width: 1400px) {
  .homeSectionTitle {
    font-size: variables.$font-size-xxxl;
    font-weight: variables.$font-weight-semibold;
    margin-bottom: 80px;
  }
}
