@use 'src/assets/styles/variables';

.section {
  background-color: #ffff;
  margin-top: 140px;
  margin-bottom: 140px;
  padding: 80px 100px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(variables.$primary, 0.2);
}

.header {
  font-size: 48px;
  font-family: variables.$font-family-second;
  font-weight: 500;
  text-align: center;
  color: variables.$primary;
  margin-top: 80px;
  margin-bottom: 40px;
}
