@use 'src/styles/variables';

.contactInfoEmailBlock {
  margin-bottom: 16px;
}

.contactInfoLabel {
  display: block;
  font-family: variables.$font-body;
  color: variables.$N6;
  font-size: 16px;
  margin-bottom: 4px;
}

.contactInfoValue {
  font-family: variables.$font-heading;
  color: variables.$N6;
  font-weight: 700;
  font-size: 18px;
}

.undefinedContactInfoValue {
  font-weight: 600;
  line-height: 125%;
}

@media (min-width: variables.$media-md) {
  .contactInfoEmailBlock {
    margin-bottom: 20px;
  }

  .contactInfoLabel {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .contactInfoValue {
    font-weight: 600;
    line-height: 125%;
  }
}

@media (min-width: variables.$media-lg) {
  .contactInfoValue {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }

  .undefinedContactInfoValue {
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
  }
}
