@use 'src/styles/variables';

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.nameContainer {
  margin-bottom: 12px;
}

.label {
  color: variables.$N6;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 2px;
}

.value {
  color: variables.$N6;
  font-size: 18px;
  line-height: 125%;
  font-family: variables.$font-heading;
  font-weight: 600;
}

@media (min-width: variables.$media-md) {
  .contentContainer {
    flex-direction: row;
  }

  .nameContainer {
    margin-bottom: 20px;
  }

  .label {
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 12px;
  }

  .value {
    font-size: 24px;
    line-height: 150%;
  }
}
