@use 'src/assets/styles/variables' as feedbackVars;

.feedbackSection {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .feedbackSection {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .feedbackSection {
    margin-top: 131px;
    margin-bottom: 140px;
  }
}
