@import '/src/assets/styles/variables.scss';

.feedback-section {
  padding-top: 60px;
  padding-bottom: 80px;

  .feedback-title {
    margin-bottom: 40px;
    text-align: center;
    font-family: $font-family-second;
  }
}

@media (min-width: 768px) {
  .feedback-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .feedback-section {
    padding-top: 131px;
    padding-bottom: 140px;
  }
}
