@use 'src/assets/styles/variables' as feedbackVars;

.feedbackSection {
  padding-top: 60px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .feedbackSection {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .feedbackSection {
    padding-top: 131px;
    padding-bottom: 140px;
  }
}
