@use 'src/styles/variables';

.mapContainer {
  width: 100%;
  height: 432px;
  max-width: 1280px;

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.heading {
  font-size: 18px;
  line-height: 1.25;
}

.name {
  display: block;
  font-size: 18px;
  line-height: 1.25;
  color: variables.$N6;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media (min-width: variables.$media-sm) {
  .heading {
    font-size: 26px;
    letter-spacing: -0.02em;
  }
}
