@use 'src/styles/variables';

.categoriesDropdownTree {
  width: 100%;
  font-size: 12px;
  padding: 0;
  color: variables.$N6;

  .highlightedCategory {
    background-color: variables.$N2;
    width: inherit;
    padding-left: 16px;
    margin-left: -16px;
    margin-right: -16px;
  }

  :global {
    .ant-select-tree-indent-unit {
      width: 24px !important;
    }

    .popUp {
      border: 1px solid variables.$N3;
      border-radius: 12px;
      padding: 0 8px 0 8px;

      .ant-select-tree-switcher {
        right: 0px;
        position: absolute;
        z-index: 1;
      }
    }

    .ant-select-selection-placeholder {
      font-size: 12px;
      letter-spacing: -0.02em;
    }

    .ant-select-tree-list-scrollbar {
      margin-right: -20px;
    }
  }
}

.switcherIcon {
  transform: translateY(4px);

  svg {
    width: 16px;
    height: 16px;
  }
}

.suffixIcon {
  padding-right: 16px;
  pointer-events: inherit !important;
}

.clearIcon {
  right: 16px;
  position: absolute;
}

.treeNode {
  border-radius: 8px;
  color: variables.$N6;
}

.treeText {
  font-size: 14px;
}

@media (min-width: variables.$media-sm) {
  .treeText {
    font-size: 18px;
  }

  .categoriesDropdownTree {
    :global {
      .ant-select-selection-placeholder {
        font-size: 18px;
        line-height: 1.25;
      }
    }
  }
}
