$primary: #003342;
$secondary: #fcffe8;
$text-primary: #1d1617;
$text-secondary: #4f4f4f;
$success: #75aa12;
$error: #ea2a2a;
$add-publication-page-background: #f5f5f5;
$text-menu: #1f1f1f;
$hover-color: #f0f0f0;
$light-green-color: #c0d32c;
$color-white: #ffffff;
$light-grey: #979797;
$outline: #eaeaea;
$shadow: #0000001a;

$font-family: 'Montserrat';
$font-family-second: 'Lato', sans-serif;

$font-size-small: 12px;
$font-size-14: 14px;
$font-size-medium: 16px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-l: 26px;
$font-size-ml: 28px;
$font-size-xl: 32px;
$font-size-xxxl: 48px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-tight: 1;
$line-height-medium: 1.25;
$line-height-large: 1.5;

$letter-spacing-narrow: -0.02em;
$category-card-radius: 24px;

$breakpoint-tablet: 576px;
$breakpoint-md: 768px;
$breakpoint-desk: 992px;
$breakpoint-xl: 1200px;
