$primary: #003342;
$primary-hover: '#074A5E';
$secondary: #c0d32c;
$secondary-hover: #b3c332;
$secondary-light: #fcffe8;

$success: #75aa12;
$error: #ea2a2a;

$N1: #ffffff;
$N2: #f5f5f5;
$N3: #eaeaea;
$N4: #b8b2b2;
$N5: #4f4f4f;
$N6: #1d1617;

$font-heading: 'Lato', sans-serif;
$font-body: 'Montserrat', sans-serif;

$media-xs: 375px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1400px;

$z-index-overlay: 100;

$space-0: 0;
$space-025: 2px;
$space-050: 4px;
$space-100: 8px;
$space-150: 12px;
$space-200: 16px;
$space-250: 20px;
$space-300: 24px;
$space-350: 28px;
$space-400: 32px;
$space-450: 36px;
$space-500: 40px;
$space-550: 44px;
$space-600: 48px;
$space-650: 52px;
$space-700: 56px;
$space-750: 60px;
$space-800: 64px;
$space-850: 68px;
$space-900: 72px;
$space-950: 76px;
$space-1000: 80px;
