@use 'src/styles/variables';

.verifyCodeRow {
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.verifyCodeText {
  font-size: 12px;
  line-height: 1.5;
  color: #1d1617 !important;
}

.verifyCodeTitle {
  text-align: center;
  color: #1d1617 !important;
  font-size: 32px;
}

.phoneLink {
  color: variables.$text-primary;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 768px) {
  .verifyCodeRow {
    padding-left: 0px;
    padding-right: 0px;

    .verifyCodeText {
      font-size: 16px;
    }
  }
}
