@import 'src/assets/styles/variables';

.verif-code-row {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  .verif-code-space {
    .verif-code-text {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.phone-link {
  color: $text-primary;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

@media (min-width: 768px) {
  .verif-code-row {
    padding-left: 0px;
    padding-right: 0px;

    .verif-code-space {
      .verif-code-text {
        font-size: 16px;
      }
    }
  }
}
