@use 'src/styles/variables';

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: variables.$space-300;
}

.description {
  color: variables.$N6;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: variables.$space-150;
  white-space: pre-line;
}

.heading {
  font-size: 18px;
  line-height: 1.25;
}

.moreButton {
  display: block;
  font-family: inherit;
  color: variables.$primary;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: transparent;
  line-height: 1.5;
  margin-right: variables.$space-0;
  margin-left: auto;
  margin-top: variables.$space-250;
}

@media (min-width: variables.$media-sm) {
  .descriptionContainer {
    margin-bottom: variables.$space-400;
  }

  .description {
    font-size: 18px;
    line-height: 1.25;
  }

  .heading {
    font-size: 26px;
    letter-spacing: -0.02em;
  }
}
