@use 'src/styles/variables';

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.description {
  color: variables.$N6;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: 12px;
}

.heading {
  font-size: 18px;
  line-height: 1.25;
}

.moreButton {
  display: block;
  font-family: inherit;
  color: variables.$primary;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: transparent;
  line-height: 1.5;
  padding: 12px 30px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
}

@media (min-width: variables.$media-sm) {
  .description {
    font-size: 18px;
    line-height: 1.25;
  }

  .heading {
    font-size: 26px;
    letter-spacing: -0.02em;
  }
}
