@use 'src/assets/styles/variables';

.categoriesSection {
  margin-bottom: 80px;
}

.categoriesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .categoriesSection {
    margin-bottom: 100px;
  }

  .categoriesList {
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .categoriesList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .categoriesSection {
    margin-top: 134px;
    margin-bottom: 160px;
  }
}
