@use 'src/assets/styles/variables';

.categoriesSection {
  padding: 0px 10px 80px 9px;
}

.categoriesContainer {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
}

.categoriesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 16px;
}

@media (min-width: 576px) {
  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .categoriesSection {
    padding: 0px 45px 100px 45px;
  }

  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

@media (min-width: 1400px) {
  .categoriesSection {
    padding: 134px 100px 160px 100px;
  }

  .categoriesList {
    gap: 40px;
  }
}
