@use 'src/assets/styles/variables';

.categoriesSection {
  margin-bottom: 80px;
}

.categoriesList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  gap: 16px;
}

@media (min-width: 576px) {
  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 768px) {
  .categoriesSection {
    margin-bottom: 100px;
  }

  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 24px;
  }
}

@media (min-width: 1400px) {
  .categoriesSection {
    margin-top: 134px;
    margin-bottom: 160px;
  }

  .categoriesList {
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  }
}
