@use 'src/assets/styles/variables.scss';

.dropdownButton:hover {
  background-color: #f0f0f0 !important;
}

.dropdownButton:active {
  background-color: variables.$success !important;
}

@media (max-width: 992px) {
  .avatarMenu {
    background-color: variables.$primary !important;
  }
  .dropdownButton {
    color: white !important;
    background-color: variables.$primary;
  }
  .dropdownButton:hover {
    color: black !important;
    background-color: #f0f0f0 !important;
  }
  .dropdownButton:active {
    color: black !important;
    background-color: white !important;
  }
}
