@use 'src/styles/variables';

.heading {
  font-size: 18px;
  line-height: 1.25;
}

.location {
  font-size: 18px;
  line-height: 125%;
  color: variables.$N6;
  font-family: variables.$font-body;
  margin-top: variables.$space-150;
  margin-bottom: variables.$space-150;
}

.mapContainer {
  width: 100%;
  height: 306px;
  border-radius: 20px;
  overflow: hidden;
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: variables.$media-sm) {
  .heading {
    font-size: 26px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: variables.$media-md) {
  .mapContainer {
    height: 432px;
  }
}
