.logoContainer {
  margin-bottom: 46px;
  align-self: flex-start;
  margin-left: 8%;
}

.logoImage {
  width: 108px;
  height: auto;
}

@media (min-width: 768px) {
  .logoImage {
    width: 200px;
  }

  .logoContainer {
    align-self: center;
    margin-bottom: 156px;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .logoImage {
    width: 240px;
  }

  .logoContainer {
    margin-bottom: 110px;
  }
}
