@use 'src/assets/styles/variables';

.heading {
  font-weight: variables.$font-weight-semibold;
  color: variables.$primary;
  margin-bottom: 40px;
  text-align: center;
}

.feedbackSection {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .feedbackSection {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .heading {
    font-size: variables.$font-size-l;
    font-weight: variables.$font-weight-regular;
    line-height: variables.$line-height-tight;
  }
}

@media (min-width: 1024px) {
  .feedbackSection {
    margin-top: 131px;
    margin-bottom: 140px;
  }

  .heading {
    font-size: variables.$font-size-xxxl;
    font-weight: variables.$font-weight-semibold;
    margin-bottom: 80px;
  }
}
