@use 'src/styles/variables';

.container {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noMyPublicationsImg {
  width: 120px;
  height: 120px;
}

.message {
  font-family: variables.$font-heading;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  color: variables.$N5;
  margin-top: 20px;
}

.button {
  width: auto !important;
  margin-top: 40px;
}

@media (min-width: variables.$media-md) {
  .message {
    font-size: 26px;
    letter-spacing: -0.02em;
    margin-top: 40px;
  }

  .button {
    margin-top: 80px;
  }
}

@media (min-width: variables.$media-lg) {
  .container {
    margin-top: 24px;
  }

  .noMyPublicationsImg {
    width: 160px;
    height: 160px;
  }

  .message {
    font-size: 32px;
    margin-top: 50px;
  }

  .button {
    margin-top: 40px;
  }
}
