@use 'src/assets/styles/variables';

.avatarLarge {
  cursor: 'pointer';
  background-color: variables.$success;
}
.avatarSection {
  text-align: 'center';
}
.userSection {
  color: variables.$success;
  height: 48px;
  text-align: center;
  border: 1px solid variables.$success;
  border-radius: 12px;
}
.userSectionUsername {
  padding-left: 10px;
}
