@use 'src/styles/variables';

.container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.button {
  width: 110px !important;
  margin-left: 24px;
}

.cascader {
  height: 48px;
  max-width: 425px;
  width: 100%;
  margin-right: auto;

  :global(.ant-select-selector) {
    &:hover {
      background-color: variables.$secondary-light;
    }

    &:focus {
      background-color: variables.$secondary-light;
    }
  }
}

.popup {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$primary;
  }

  :global(.ant-cascader-menu) {
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: variables.$primary;
    }

    :global(.ant-cascader-menu-item) {
      &:hover {
        border-radius: 8px;
      }
    }

    :global(.ant-cascader-menu-item-active) {
      border-radius: 8px;
    }
  }
}

.expandIcon {
  margin-top: 7px;
}

@media (min-width: variables.$media-md) {
  .cascader {
    margin-bottom: 0;
  }
}
