@use 'src/assets/styles/variables.scss';

.priceInputsRow {
  position: relative;
  display: flex;
  column-gap: 8px;
}

.label {
  color: variables.$text-secondary;
}

.priceInput {
  height: 48px;
  max-width: 187px;
  width: 100%;
}

.middleFormItem label::after {
  content: none !important;
}

.inputsError {
  position: absolute;
  color: #ff4d4f;
  bottom: 0;
}

@media (min-width: variables.$breakpoint-md) {
  .priceInputsRow {
    column-gap: 19px;
  }
}

@media (min-width: variables.$breakpoint-xl) {
  .priceInputsRow {
    column-gap: 24px;
  }
}
