@import '../../config/theme/variables.scss';

.customInput {
  font-family: $font-family;
  border-radius: 8px;
  height: 48px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
