@use 'src/styles/variables';

.h1 {
  font-family: variables.$font-family-second;
  font-size: 56px;
  color: #000;
}

.h2 {
  font-family: variables.$font-family-second;
  font-weight: 500;
  color: variables.$primary;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 125%;
}

.h3 {
}

.h4 {
}

.h5 {
}

.h6 {
}

@media (min-width: 576px) {
  .h2 {
    font-size: 28px;
    margin-bottom: 40px;
    line-height: 125%;
  }
}

@media (min-width: 992px) {
  .h2 {
    font-size: 48px;
    margin-bottom: 80px;
  }
}
