@use 'src/styles/variables';

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  height: 100%;
  padding: 37px 0;
}

.step {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  line-height: 1 !important;
}

.connectionContainer {
  width: 100%;
  height: 2px;
  height: 100%;
}

.connection {
  height: 2px !important;
  width: 100% !important;
  line-height: 1 !important;
}

.details {
  width: 100% !important;
  height: 48px !important;
  line-height: 1 !important;
  margin-bottom: 16px !important;
}

.card {
  height: 56px !important;
  line-height: 1 !important;
  width: 100% !important;
}

@media (min-width: variables.$media-sm) {
  .card {
    width: 220px !important;
  }
}
