@use 'src/assets/styles/variables.scss';
@use 'src/assets/styles/fonts.scss';

.popular-goods-section {
  padding-top: 160px;
  padding-bottom: 132px;
}

.popular-goods {
  display: grid;
  gap: 24px;
  justify-content: center;
  max-width: 1352px;
  margin: 0 auto;
  padding: 24px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.popular-goods-title {
  font-family: variables.$font-family-second;
  font-size: 48px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 500;
  color: variables.$primary;
}

@media (min-width: 576px) {
  .popular-goods-section {
    padding-top: 80px;
    padding-bottom: 39px;
  }
  .popular-goods {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 769px) {
  .popular-goods-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .popular-goods {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (min-width: 992px) {
  .popular-goods-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .popular-goods {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

@media (min-width: 1400px) {
  .popular-goods-section {
    padding-top: 80px;
    padding-bottom: 132px;
  }

  .popular-goods {
    grid-template-columns: repeat(4, 1fr);
  }
}
