@use 'src/styles/variables';

.container {
  margin-bottom: variables.$space-500;
}

@media (min-width: variables.$media-md) {
  // different margin bottom for larger screens 80px & 140px
  .container {
    margin-bottom: variables.$space-1000;
  }
}
