@use 'src/styles/variables';

.topContentContainer {
  margin-top: 16px;
  // column-gap: 40px;
  row-gap: 40px;
}

.leftContentSection {
  height: auto;
}

.rightContentSection {
  height: auto;
  flex: 1;
}

.bottomContentContainer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottomContentSection {
  width: 1500px;
}

@media (min-width: variables.$media-sm) {
  .topContentContainer {
    margin-top: 24px;
    row-gap: 80px;
  }

  .bottomContentContainer {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (min-width: variables.$media-xl) {
  .bottomContentContainer {
    margin-bottom: 140px;
  }
}
