@use 'src/styles/variables';

.topContentContainer {
  margin-top: variables.$space-200;
  row-gap: variables.$space-500;
}

.leftContentSection {
  height: auto;
}

.rightContentSection {
  height: auto;
  flex: 1;
}

.bottomContentContainer {
  margin-top: variables.$space-500;
  margin-bottom: variables.$space-500;
}

.bottomContentSection {
  width: 1500px;
}

@media (min-width: variables.$media-sm) {
  .topContentContainer {
    margin-top: variables.$space-300;
    row-gap: variables.$space-1000;
  }

  .bottomContentContainer {
    margin-top: variables.$space-1000;
    margin-bottom: variables.$space-1000;
  }
}

@media (min-width: variables.$media-xl) {
  .bottomContentContainer {
    margin-top: variables.$space-500;
    margin-bottom: 140px;
  }
}
