@use 'src/styles/variables';

.card {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(70, 68, 88, 0.08) 0 8px 28px 0;
  border-radius: 8px;
  padding: 16px;
}

.editIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: variables.$z-index-overlay;
}

@media (min-width: variables.$media-md) {
  .card {
    padding: 20px;
  }

  .editIcon {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: variables.$media-lg) {
  .card {
    padding: 40px;
  }

  .editIcon {
    top: 40px;
    right: 40px;
  }
}
