@use 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  background-color: variables.$N1;
  width: 100%;
  height: 100%;
  min-height: 560px;
  border-radius: 12px;
  padding: 26px 16px 54px 16px;
  box-shadow: 0px 16px 48px rgba(70, 68, 88, 0.1);
}
