@use 'src/styles/variables';

.message {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  flex-direction: column;
  padding: 16px 12px;
  border-radius: 8px;
  margin: 8px 0;
  background-color: variables.$secondary-light;
}

.sent {
  align-self: flex-end;
  background-color: variables.$N2;
}

.received {
  align-self: flex-start;
}

.headerMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.messageDetail {
  font-family: variables.$font-body;
  font-size: 12px;
  color: variables.$N6;
  text-transform: uppercase;
}
