@use 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: left;
  font-size: 24px;
  color: variables.$N5;
  line-height: 150%;
  font-family: variables.$font-heading;
  margin-bottom: 30px;
}

.noSearchResultsImg {
  width: 126px;
  height: 100px;
}

.button {
  max-width: 327px;
  margin-top: variables.$space-500;
}

@media (min-width: variables.$media-md) {
  .message {
    text-align: center;
    font-size: 26px;
    line-height: 125%;
    margin-bottom: variables.$space-500;
  }

  .noSearchResultsImg {
    width: 200px;
    height: 160px;
  }

  .button {
    margin-top: variables.$space-1000;
  }
}

@media (min-width: variables.$media-lg) {
  .message {
    font-size: 32px;
  }

  .noSearchResultsImg {
    width: 320px;
    height: 260px;
  }
}
