@use 'src/styles/variables';

.sidebarToggle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  margin-bottom: 26px;
  cursor: pointer;
}

.titleMobile {
  text-align: left;
  color: variables.$primary;
  font-family: variables.$font-heading;
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  margin-left: 12px;
}

.title {
  width: 100%;
  color: variables.$primary;
  font-family: variables.$font-heading;
  font-weight: 600;
}

.mainContentContainer {
  height: 100%;
  min-height: 542px;
  margin-top: 12px;
  margin-bottom: 26px;
}

@media (min-width: variables.$media-md) {
  .title {
    text-align: center;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 40px;
  }

  .mainContentContainer {
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

@media (min-width: variables.$media-lg) {
  .title {
    font-size: 48px;
    line-height: 125%;
  }

  .mainContentContainer {
    margin-top: 60px;
    margin-bottom: 132px;
  }
}
