@use 'src/styles/variables';

*::before,
*::after {
  box-sizing: border-box;
}

.headerContentContainer {
  max-width: 1100px;
  margin: 0 auto 40px;
  padding: 0 20px;
  background-color: #bcccdc;
}

.mainContentContainer {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.leftContentSection {
  height: 542px;
  background-color: #bcccdc;
  padding: 10px;
}

.rightContentContainer {
  display: flex;
  flex-flow: column;
  gap: 20px;
  max-width: 735px;
  width: 100%;
}

.rightContentTopContainer,
.rightContentBottomContainer {
  width: 100%;
  background-color: #bcccdc;
  // padding: 10px;
}

.rightContentTopContainer {
  height: 240px;
}

.rightContentBottomContainer {
  height: 282px;
}

@media (min-width: variables.$media-lg) {
  .headerContentContainer {
    height: 60px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .mainContentContainer {
    gap: 24px;
    margin-bottom: 140px;
  }

  .leftContentSection {
    height: 600px;
  }

  .rightContentContainer {
    gap: 24px;
  }

  .rightContentTopContainer {
    height: 280px;
  }

  .rightContentBottomContainer {
    height: 296px;
  }
}
