@use 'src/styles/variables';

.rightContentContainer {
  display: grid;
  gap: 20px;
  width: 100%;
  margin-top: 84px;
}

.rightContentTopContainer {
  height: 160px;
  background-color: #bcccdc;
}

.rightContentBottomContainer {
  max-height: 325px;
}

@media (min-width: variables.$media-md) {
  .rightContentContainer {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 480px;
    margin: 0;
  }

  .rightContentTopContainer {
    height: 240px;
  }

  .rightContentBottomContainer {
    max-height: 296px;
  }
}

@media (min-width: variables.$media-lg) {
  .rightContentContainer {
    display: grid;
    gap: 24px;
    width: 100%;
    max-width: 744px;
    margin: 0;
  }

  .rightContentTopContainer {
    height: 280px;
  }

  .rightContentBottomContainer {
    height: 296px;
  }
}
