@use 'src/styles/variables';

.section {
  background-color: #ffff;
  margin-top: 140px;
  margin-bottom: 140px;
  padding: 80px 100px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(variables.$primary, 0.2);
}

.header {
  font-size: 48px;
  font-family: variables.$font-family-second;
  font-weight: 500;
  text-align: center;
  color: variables.$primary;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .section {
    min-height: 50vh; //TEMPORARY value for container preview
    padding: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    box-shadow: none;
    border-radius: 0;
  }
  .header {
    margin: 0;
    padding-bottom: 32px;
    font-size: 32px;
    font-family: variables.$font-family-second;
    font-weight: 500;
    line-height: 125%;
  }
}
