.auth-image-col {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .auth-image-container {
    height: 100%;

    .auth-image {
      height: 100vh;
      width: auto;
      object-fit: cover;
      object-position: left;
    }
  }
}

.auth-form-col {
  .auth-page-title {
    text-align: center;
    margin-top: 100px;
  }

  .logo {
    margin-top: 40px;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .auth-image-col {
    justify-content: flex-start;
  }
}

@media (max-width: 750px) {
  .auth-image-col {
    display: none;
  }
}
