@use 'src/styles/variables';

.topContentContainer {
  margin-top: variables.$space-250;
  margin-bottom: variables.$space-250;
}

.centerContentContainer {
  margin-bottom: variables.$space-500;
}

.bottomContentContainer {
  margin-bottom: variables.$space-250;
  width: 100%;
  justify-content: center;
}

.bottomContentSection {
  max-width: 327px;
}

.floatBtn {
  position: sticky;
  left: 100%;
}

.paginationContainer {
  margin-bottom: variables.$space-500;
}

@media (min-width: variables.$media-md) {
  .topContentContainer {
    margin-top: variables.$space-500;
    margin-bottom: variables.$space-200;
  }

  .paginationContainer {
    margin-bottom: variables.$space-1000;
  }
}

@media (min-width: variables.$media-lg) {
  .topContentContainer {
    margin-bottom: variables.$space-500;
  }

  .centerContentContainer {
    margin-bottom: variables.$space-1000;
  }

  .paginationContainer {
    margin-bottom: 140px;
  }
}
