@use 'src/styles/variables';

.topContentContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.centerContentContainer {
  margin-bottom: 40px;
}

.bottomContentContainer {
  margin-bottom: 40px;
  width: 100%;
  justify-content: center;
}

.bottomContentSection {
  max-width: 327px;
}

.floatBtn {
  position: sticky;
  left: 100%;
}

@media (min-width: variables.$media-md) {
  .topContentContainer {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  .bottomContentContainer {
    margin-bottom: 80px;
  }
}

@media (min-width: variables.$media-lg) {
  .topContentContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .centerContentContainer {
    margin-bottom: 80px;
  }

  .bottomContentContainer {
    margin-bottom: 140px;
  }
}
