@import '../../config/theme/variables.scss';

.checkbox {
  display: flex;
  text-align: start;
  position: relative;
  margin-top: -17px;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: $font-weight-medium;
  line-height: 1.5;
}

.checkbox:first-of-type span:first-child {
  position: absolute;
  top: 4px;
}

.checkbox:last-of-type > span:last-child {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .checkbox {
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) {
  .checkbox {
    margin-bottom: 48px;
  }
}
