@use 'src/styles/variables';

.bookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.steps {
  padding-top: 30px;
  height: 96px;
  overflow-x: auto;

  :global {
    .ant-steps-item:nth-child(even) .ant-steps-item-content {
      transform: translate(15px, -62px);
      margin-top: 0;
    }

    .ant-steps-item {
      transform: translateX(-7.5px);
    }

    .ant-steps-item-tail {
      top: 9px !important;
    }

    .ant-steps-icon {
      display: inline-block !important;
      width: 20px !important;
      height: 20px !important;
      transform: translateX(-2px);
    }

    .ant-steps-item-icon {
      line-height: 1.5 !important;
      height: 20px !important;
    }

    .ant-steps-item-content {
      margin-top: 12px !important;
      width: 80px !important;
      transform: translateX(15px);
    }
  }
}

.taxonomyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.feedbackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedbackTitle {
  color: variables.$N6;
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.feedbackSuccess {
  color: variables.$N6;
  font-family: variables.$font-body;
  font-size: 18px;
}

.feedbackRate {
  margin-bottom: 12px;
}

.titles {
  color: variables.$N6;
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 600;
  margin: 24px 0;
}

.publication {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publicationImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 52px;
  height: 52px;
  min-width: 52px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid variables.$N3;
}

.publicationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shelfItem {
  font-family: variables.$font-body;
  color: variables.$N6;
  font-size: 16px;
  line-height: 1.5;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid variables.$N3;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 2px;
  color: variables.$N6;
}

.priceCard {
  font-family: variables.$font-heading;
  font-size: 24px;
  font-weight: 600;
}

.taxonomy {
  font-family: variables.$font-body;
  font-size: 16px;
  text-align: center;
}

.cardLabel {
  color: variables.$N5;
  font-family: variables.$font-body;
  font-size: 12px;
  line-height: 1.5;
}

@media (min-width: variables.$media-sm) {
  .cardsContainer {
    flex-direction: row;
    gap: 40px;
  }

  .cardContainer {
    max-width: 220px;
  }

  .taxonomyContainer {
    gap: 16px;
    flex-direction: row;
  }
}

@media (min-width: variables.$media-md) {
  .taxonomyContainer {
    gap: 32px;
  }
}

@media (min-width: variables.$media-lg) {
  .taxonomyContainer {
    gap: 16px;
  }
}

@media (min-width: variables.$media-xl) {
  .taxonomyContainer {
    gap: 32px;
  }

  .steps {
    overflow-x: hidden;
  }
}
