.layoutRow {
  text-align: center;
  min-height: 100vh;
}

.appBarCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 52px;
}

@media (min-width: 768px) {
  .appBarCol {
    padding-top: 80px;
    padding-bottom: 268px;
  }
}

@media (min-width: 1024px) {
  .appBarCol {
    padding-top: 40px;
    padding-bottom: 126px;
  }
}
