@use 'src/assets/styles/variables' as feedbackVars;

.feedbackCard {
  background-color: feedbackVars.$primary;
  border-radius: 20px;
  margin-left: 12px;
  padding: 16px;
  height: 100%;

  .feedbackRate {
    color: #c0d32c;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .feedbackDate {
    font-family: feedbackVars.$font-family-second;
    color: feedbackVars.$secondary;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 0;
  }

  .feedbackTitle {
    font-family: feedbackVars.$font-family-second;
    color: feedbackVars.$secondary;
    font-size: 16px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 0;
  }

  .feedbackReview {
    font-family: feedbackVars.$font-family-second;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 0;
  }

  .feedbackName {
    font-size: 18px;
    font-family: feedbackVars.$font-family-second;
    color: #ffffff;
    margin-bottom: 0;
  }
}

.feedbackDescrWrap {
  height: 234px;
}

.feedbackAvatar {
  width: 44px;
  height: 44px;
}

@media (min-width: 768px) {
  .feedbackCard {
    margin-left: 16px;
    padding-right: 56px;
    padding-bottom: 0;
  }

  .feedbackDescrWrap {
    height: 183px;
  }
}
