@use 'src/assets/styles/variables';

@mixin text-styles(
  $color: variables.$color-white,
  $line-height: variables.$line-height-medium
) {
  font-family: variables.$font-family;
  font-size: variables.$font-size-medium;
  color: $color;
  line-height: $line-height;
  letter-spacing: variables.$letter-spacing-narrow;
  margin-bottom: 0;
}

.feedbackCard {
  background-color: variables.$primary;
  border-radius: 20px;
  margin-left: 12px;
  padding: 16px;
  height: 100%;

  .feedbackRate {
    color: variables.$light-green-color;

    :global {
      .ant-rate-star {
        margin-inline-end: 2px;
      }
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .feedbackDate {
    @include text-styles(variables.$secondary, variables.$line-height-large);
    font-weight: variables.$font-weight-bold;
  }

  .feedbackTitle {
    @include text-styles(variables.$secondary, variables.$line-height-large);
    font-weight: variables.$font-weight-bold;
    margin-top: 19px;
  }

  .feedbackReview {
    @include text-styles(variables.$color-white, variables.$line-height-large);
  }

  .feedbackName {
    @include text-styles(variables.$color-white);
    font-size: variables.$font-size-18;
  }
}

.feedbackDescriptionWrapper {
  height: 278px;
}

.feedbackAvatar {
  width: 44px;
  height: 44px;
}

@media (min-width: 768px) {
  .feedbackCard {
    margin-left: 16px;
  }

  .feedbackDescriptionWrapper {
    height: 209px;
  }
}
