@import '/src/assets/styles/variables.scss';

.feedback-card {
  height: 382px;
  background-color: $primary;
  border-radius: 20px;

  .ant-card-body {
    padding: 40px;
    height: 100%;

    .feedback-rate {
      color: #c0d32c;

      .ant-rate-star {
        margin-inline-end: 3px;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .feedback-date {
      font-size: 16px;
      font-weight: 700;
    }

    .ant-card-meta-title {
      font-family: $font-family-second;
      font-weight: 700;
      color: $secondary;
      margin-top: 19px;
    }

    .feedback-descr-wrap {
      height: 226px;
    }

    .feedback-review {
      color: #ffffff;
      font-size: 16px;
    }

    .feedback-avatar {
      width: 44px;
      height: 44px;
    }

    .feedback-name {
      font-size: 18px;
    }
  }

  .ant-typography {
    color: $secondary;
    font-family: $font-family-second;
  }
}

@media (min-width: 768px) {
  .feedback-card {
    height: 318px;

    .ant-card-body {
      padding-right: 80px;
      padding-bottom: 24px;

      .feedback-descr-wrap {
        height: 180px;
      }
    }
  }
}
