@use 'src/assets/styles/variables';

.product-card {
  width: 300px;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  .image-wrapper {
    position: relative;
    width: 300px;
    height: 279px;
    overflow: hidden;

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .favorite-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(255, 255, 255, 0.48);
      border-radius: 50%;
      border: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      svg {
        font-size: variables.$font-size-medium;
        color: variables.$primary;
      }
      .filled-heart {
        color: variables.$primary;
      }
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;

    .rating {
      display: flex;
      align-items: center;

      .star-icon {
        font-size: variables.$font-size-small;
        color: variables.$primary;
        margin-right: 5px;
      }

      .rating-value {
        font-size: variables.$font-size-small;
        color: variables.$primary;
        font-weight: bold;
      }
    }
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;
    padding: 10px;

    .price {
      font-weight: bold;
      color: variables.$text-primary;
    }
  }
}
