@use 'src/assets/styles/variables';

.product-card {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  box-shadow: none !important;

  .ant-card-cover {
    width: 100%;
  }

  .ant-card-body {
    padding: 0;
    width: 100%;
  }

  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .card-description {
    margin-top: 20px;
    .card-info {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 16px;

      .rating {
        display: flex;
        align-items: center;

        .star-icon {
          font-size: variables.$font-size-small;
          color: variables.$primary;
          margin-right: 5px;
        }

        .rating-value {
          font-size: variables.$font-size-small;
          color: variables.$primary;
          font-weight: 700;
        }
      }
    }

    .card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: right;
      width: 100%;

      .price {
        font-family: variables.$font-family !important;
        font-weight: variables.$font-weight-bold !important;
        color: variables.$primary;
        font-style: normal;
      }
    }
  }
}
