@use 'src/assets/styles/variables';

.product-card {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;

  .ant-card-body {
    padding: 0;
    width: 100%;
  }

  // .image-wrapper {
  //   position: relative;
  //   width: 320px;
  //   height: 279px;
  //   overflow: hidden;

  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  // }

  .card-info {
    display: flex;
    justify-content: space-between;

    .nameCardInfo {
      margin-top: 20px;
    }

    .rating {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .star-icon {
        font-size: variables.$font-size-small;
        color: variables.$primary;
        margin-right: 5px;
      }

      .rating-value {
        font-size: variables.$font-size-small;
        color: variables.$primary;
        font-weight: bold;
      }
    }
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;

    .price {
      font-weight: bold;
      color: variables.$text-primary;
    }
  }
}
