@use 'src/styles/variables';

.searchBarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: variables.$space-250;
}

.space {
  width: 100%;
}

.input {
  :global(.ant-input-clear-icon) {
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.select {
  width: 137px !important;

  :global(.ant-select-prefix) {
    display: flex;
    align-items: center;
  }
}

.selectPopup {
  width: 220px !important;
}

@media (min-width: variables.$media-md) {
  .space {
    width: 738px;
  }
  .searchBarWrapper {
    margin-bottom: variables.$space-400;
  }
}

@media (min-width: variables.$media-lg) {
  .searchBarWrapper {
    margin-bottom: variables.$space-500;
  }
}
