@use 'src/styles/variables';

.searchBarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: variables.$space-250;
}

.space {
  width: 100%;
}

.autocomplete {
  :global(.ant-select-selection-search-input) {
    height: 100% !important;
  }

  :global(.ant-select-clear) {
    svg {
      width: 18px !important;
      height: 18px !important;
      transform: translate(-2px, -2px);
    }
  }
}

.select {
  width: 137px !important;

  :global(.ant-select-prefix) {
    display: flex;
    align-items: center;
  }

  :global(.rc-virtual-list-holder-inner) {
    gap: 2px !important;
  }
}

.selectPopup {
  width: 220px !important;
}

@media (min-width: variables.$media-md) {
  .space {
    width: 738px;
  }

  .searchBarWrapper {
    margin-bottom: variables.$space-400;
  }
}

@media (min-width: variables.$media-lg) {
  .searchBarWrapper {
    margin-bottom: variables.$space-500;
  }
}
