@use '../../../assets/styles/variables.scss';

.appFooterSection {
  background-image: url('../../../assets/images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.footerRow {
  min-height: 183px;
  color: variables.$primary !important;
  max-width: 1720px;
  margin-right: 300px;
  padding-top: 59px;
}

.footerColLogo {
  margin: auto 0;
  padding-right: 10px;
}

.footerCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.footerEmailBlock {
  display: flex;
  flex-direction: column;
}

.footerMediaSection {
  display: flex;
  gap: 8px;
}

.footerRights {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 40px;
  padding-bottom: 14px;
}

.title {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .appFooterSection {
    background-size: 40% auto;
  }
  .footerRow {
    margin-right: 150px;
  }
  .footerCol {
    margin-top: 56px;
  }
  .footerRights {
    justify-content: start;
  }
}
@media (max-width: 576px) {
  .appFooterSection {
    background-position: right center;
    background-size: 60% auto;
  }
  .footerRow {
    margin-right: 150px;
  }
  .footerCol {
    margin-top: 56px;
    gap: 8px;
  }
  .footerRights {
    justify-content: start;
    font-size: 12px;
  }
}
