@import './assets/styles/variables';
@import './assets/styles/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: $font-family, sans-serif;
  min-width: 375px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mt-34 {
  margin-top: 34px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.fs-16 {
  font-size: 16px;
}

.container {
  max-width: 1400px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
}

.display-none {
  display: none;
}

.centered {
  text-align: center;
}

.w100 {
  width: 100%;
}
