@import './assets/styles/variables';
@import './assets/styles/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: $font-family, sans-serif;
}
