@import './constants/variables.scss';

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
  background-color: #dddddd;
  text-align: center;
}
