@import './assets/styles/variables';
@import './assets/styles/fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: $font-family, sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mt-34 {
  margin-top: 34px;
}


.h100vh {
  height: 100vh;
}

.display-none {
  display: none;
}

.mt-200 {
  margin-top: 200px;
}

.centered {
  text-align: center;
}

.w100 {
  width: 100%;
}

