
.verification-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .verification-image-col {
    width: 100%;
    height: 100vh;
    

    .verification-image-container {
   
      width: 100%;
   
      object-fit: cover;

      .verification-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
       
      }
    }
  }
}

