$primary: #003342;
$secondary: #fcffe8;
$text-primary: #1d1617;
$text-secondary: #4f4f4f;
$success: #75aa12;
$error: #ea2a2a;
$listing-page-background: #f5f5f5;

$font-family: 'Montserrat';

$font-size-small: 12px;
$font-size-medium: 16px;
$light-green-color: #c0d32c;
$font-family-second: 'Lato', sans-serif;
