@use 'src/styles/variables';

.title {
  font-family: variables.$font-heading;
  font-size: 22px;
  font-weight: 600;
  color: variables.$N6;
  line-height: 125%;
  margin-bottom: variables.$space-250;
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedbackTitle {
  text-align: center;
}

.feedbackEmpty {
  font-size: 16px;
  font-weight: 400;
  color: variables.$N6;
  text-align: center;
}

@media (min-width: variables.$media-md) {
  .title {
    font-size: 32px;
    margin-bottom: variables.$space-500;
  }
}
