@import '../../constants/variables.scss';

.phoneInput {
  margin-bottom: 0;
}

.phoneInput > span > span + input {
  font-family: $font-family;
  border-radius: 8px;
  height: 48px;
  font-weight: $font-weight-medium;
  font-size: 16px;
  line-height: 1.5;
}
