@use 'src/styles/variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 600px;
  box-shadow: rgba(70, 68, 88, 0.08) 0 8px 28px 0;
  border-radius: 8px;
  padding: 16px;
  background-color: variables.$N1;
}
