@use 'src/styles/variables';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 600px;
  box-shadow: rgba(70, 68, 88, 0.08) 0 8px 28px 0;
  border-radius: 8px;
  padding: variables.$space-100;
  background-color: variables.$N1;
}

@media (min-width: variables.$media-md) {
  .card {
    padding-left: variables.$space-150;
    padding-right: variables.$space-150;
  }
}

@media (min-width: variables.$media-lg) {
  .card {
    padding-top: variables.$space-200;
    padding-bottom: variables.$space-200;
  }
}
