@use 'src/assets/styles/variables.scss';

.appHeader {
  height: 80px;
}

.avatarLarge {
  cursor: pointer;
  background-color: variables.$success;
  height: 48px;
  width: 48px;
}

.dropdownMenu {
  text-align: center;
}

.logo {
  height: 14px !important;
}

.publicationButton:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .logo {
    height: 14px !important;
  }
}

@media (min-width: 768px) {
  .logo {
    height: 18px !important;
  }
}

@media (min-width: 992px) {
  .logo {
    height: 22px !important;
  }
}

@media (min-width: 1200px) {
  .logo {
    height: 28px !important;
  }
}

@media (min-width: 1400px) {
  .app-header-section {
    .container {
      padding: 0 25px;
    }
  }
}
