@use 'src/assets/styles/variables.scss';

.appHeader {
  padding-top: 16px;
}
.avatarLarge {
  cursor: pointer;
  background-color: variables.$success;
  height: 48px;
  width: 48px;
}
.dropdownMenu {
  text-align: 'center';
}

@media (max-width: 1180px) {
  .app-header-section {
    .container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1050px) {
  .app-header {
    .logo {
      height: 28px;
    }
  }
}

@media (max-width: 992px) {
  .app-header {
    .logo {
      height: 22px;
    }
  }
}

@media (max-width: 834px) {
  .app-header {
    .logo {
      height: 12px;
    }
  }
}
