@use 'src/assets/styles/variables.scss';

.appHeader {
  padding-top: 16px;
}
.avatarLarge {
  cursor: pointer;
  background-color: variables.$success;
  height: 48px;
  width: 48px;
}
.dropdownMenu {
  text-align: 'center';
}

@media (max-width: 1400px) {
  .app-header-section {
    .container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1200px) {
  .logo {
    height: 28px !important;
  }
}

@media (max-width: 992px) {
  .logo {
    height: 22px !important;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 18px !important;
  }
}
@media (max-width: 576px) {
  .logo {
    height: 14px !important;
  }
}
