@use 'src/styles/variables';

.searchBox {
  height: 48px;

  input {
    letter-spacing: -0.02em;
    font-size: 12px !important;
    line-height: 1.5;
    padding-right: variables.$space-200 !important;
  }

  :global {
    .ant-select-selector:hover,
    .ant-select-selector:focus-within {
      background-color: variables.$secondary-light;
    }

    .ant-select-dropdown .ant-select-item {
      border-radius: 8px !important;
    }
  }

  &.error {
    :global(.ant-select-selector) {
      border: 1px solid #ea2a2a !important;
    }
  }
}

.popUp {
  border: 1px solid variables.$N6;
  box-shadow: none;
  letter-spacing: -0.02em;

  :global {
    .rc-virtual-list-scrollbar {
      width: 3px !important;
    }
  }
}

.googleLogo {
  min-height: 14px !important;
  padding: variables.$space-0 !important;
}

.googleAttribution {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: variables.$space-100;
  height: 19px;
  padding: variables.$space-0 variables.$space-150 variables.$space-050
    variables.$space-0;
  font-size: 12px;
}

.googleLogoImg {
  height: 14px;
}

.helperText {
  padding-top: variables.$space-150;
  font-size: 14px;
  color: variables.$N4;
  font-family: variables.$font-body;
}

.helperTextError {
  color: variables.$error;
  font-weight: 500;
  font-size: 12px;
}

@media (min-width: variables.$media-sm) {
  .searchBox {
    :global {
      .ant-select-selection-placeholder,
      .ant-select-selection-search-input,
      .ant-select-selection-item {
        font-size: 18px !important;
        line-height: 1.25;
      }
    }
  }

  .popUp {
    :global {
      .ant-select-item {
        font-size: 18px !important;
      }
    }
  }
}
