@use 'src/styles/variables';

.form {
  width: 100%;
}

.formItemEmail {
  width: 100%;
  margin-bottom: variables.$space-200;
}

.formItemPhone {
  width: 100%;
  margin-bottom: 0;
}

@media (min-width: variables.$media-md) {
  .formItemEmail {
    margin-bottom: variables.$space-250;
  }
}

@media (min-width: variables.$media-lg) {
  .form {
    width: 360px;
  }
}
