@use 'src/styles/variables';

.heroBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 342px;
  border-radius: 8px;
  background-color: variables.$N1;
  background-image:
    radial-gradient(#003342 1.25px, transparent 1.25px),
    radial-gradient(#003342 1.25px, #fcfcfc 1.25px);
  background-size: 50px 50px;
  background-position:
    0 0,
    25px 25px;
}

.avatar {
  margin-bottom: variables.$space-200;
}

.name {
  font-family: variables.$font-heading;
  font-size: 22px;
  font-weight: 600;
  color: variables.$N6;
  line-height: 125%;
}

.lastTimeActive {
  font-family: variables.$font-body;
  font-size: 14px;
  font-weight: 400;
  color: variables.$N4;
  line-height: 150%;
  margin-bottom: variables.$space-200;
}

.location {
  font-family: variables.$font-body;
  font-size: 18px;
  font-weight: 400;
  color: variables.$N6;
  line-height: 150%;
}

.info {
  display: flex;
  align-items: center;
  gap: variables.$space-050;

  + .info {
    margin-top: variables.$space-100;
  }
}

.summary {
  font-family: variables.$font-body;
  font-size: 16px;
  font-weight: 600;
  color: variables.$N6;
  line-height: 150%;
}

@media (min-width: variables.$media-md) {
  .heroBanner {
    border-radius: 16px;
    height: 516px;
  }

  .name {
    line-height: 150%;
    font-size: 28px;
  }

  .avatar {
    margin-bottom: variables.$space-300;
  }

  .summary {
    font-size: 24px;
    line-height: 125%;
  }
}

@media (min-width: variables.$media-lg) {
  .name {
    font-size: 48px;
    line-height: 125%;
  }

  .heroBanner {
    height: 570px;
  }
}
